/* Set Your Own Margin & Padding */

body{

	background-color: #173045;

}

.name h1{

font-family: 'Anaheim', sans-serif;
font-variant: bold;
font-size: 2.55em;
text-align: right;
margin-top: 0px;
margin-right: 50px;
margin-bottom: 5px;

}

.name em{

	float: right;
	margin-right: 50px;

}

h2{
	font-family: 'Montserrat Alternates', sans-serif;
	color: #FF6300;
	margin-bottom: 5px;
	font-size: 2em;

}

.prime em{

	margin: 0px 10px 0px 10px;
	padding-right: 10px;
	color: #FF6300;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 0.875em;

}

h3{

	font-family: 'Raleway', sans-serif;
	color: #6E7F94;
	margin-bottom: 5px;
	font-size: 1.5em;

}

.secondary em{

	color: #6E7F94;
	font-family: 'Raleway', sans-serif;
	font-size: 0.875em;
	margin: 0px 10px 0px 10px;
	padding-right: 10px;

}

/* Layout for Style Tile*/
section {

	background-color: #fff;
	margin: 0px 15px 0px 15px;
	padding-left: 15px;

}

#words{

	margin: 0px 15px 0px 15px;

}


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 5px;
	height: 80px;
	width: 80px;
	border-radius: 0px 10px 0px 10px;

}

.logo{

	margin-top: 10px;
	padding-left: 10px;
	max-width: 90%;
	max-height: 90%;
			
}

.color-1{

background-color: #173045;
transition: all 1.5s;

}

.color-1:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.pattern-1{

background: url("http://fc04.deviantart.net/fs70/i/2012/269/b/a/wood_planks___d632_by_agf81-d5fz4zl.jpg");
background-size: 200px;
transition: all 1.5s;

}

.pattern-1:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.color-2{

background-color: #FF6300;
transition: all 1.5s; 

}

.color-2:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.pattern-2{

background: url("http://www.wallsandfloors.co.uk/admin/uploads/ZoomImageslate_effect12911380383851291138038.jpg");
background-size: 200px;
transition: all 1.5s;

}

.pattern-2:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.color-3{

background-color: #6E7F94;
transition: all 1.5s;

}

.color-3:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.pattern-3{

background: url("http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-7.jpg");
background-size: 125px;
transition: all 1.5s;

}

.pattern-3:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

#colors{

	margin: 0px 15px 0px 15px;
	padding-left: 85px;
	padding-top: 15px; 

}

#textures{

	margin: 0px 15px 0px 15px;
	padding-left: 110px;
	padding-top: 15px;
	padding-bottom: 25px;

}

footer{

	background-color: #fff;
	margin: 0px 15px 0px 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-radius: 0px 0px 20px 20px;

}

#words p{

	font-family: 'Raleway', sans-serif;
	text-decoration: none;


}

#words a{

	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #FF6300;

}

#words a:hover {

color: #FF6300;
text-decoration: none;

}

#words a:visited {

color: #173045;

}










