/* Set Your Own Margin & Padding */

body{

	background-color: #173045;

}

h1{

font-family: 'Anaheim', sans-serif;
font-variant: bold;
font-size: 2.55em;
float: right;

}

h2{
	
	font-family: 'Raleway', sans-serif;
	

}

	h3, p, a {


	}

}

.name{
	
	width: 90%;
	float: right;
	
}

.name em {

}

/* Layout for Style Tile*/
section {

	background-color: #fff;
	margin: 20px 15px 0px 15px;

}

#words{

	margin: 0px 15px 0px 15px;

}


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 5px;
	height: 80px;
	width: 80px;
	border-radius: 0px 10px 0px 10px;

}

@media screen and (max-width: 2600px){

	.logo{

		padding-left: 10px;
		max-width: 80%;
		max-height: 80%;
		transition: all 1s;
		
	}

	section, #words, p{

		max-width: 90%;
		font-size: 90%;
		margin-right: 200px;
		transition: all 1s;
		
	}

	h1{

		max-width: 90%;
		font-size: 2.5em;
		margin-right: 200px;
		transition: all 1s;

	}

	#colors{
		
		max-width: 70%;
		font-size: 80%;
		margin-right: 200px;
		transition: all 1s;
		
	}
	
	#textures{

		max-width: 67.5%;
		transition: all 1s;
		
	}

}

@media screen and (max-width: 918px){

	.logo{

		padding-left: 10px;
		max-width: 75%;
		max-height: 75%;
		transition: all 1s;
	}

	p{

		max-width: 75%;
		font-size: 85%;
		margin-right: 300px;
		transition: all 1s;
		
	}

	h1{

		
		font-size: 2.4em;
		margin-right: 300px;
		transition: all 1s;

	}

	#colors{

		max-width: 70%;
		max-height: 70%;
		transition: all 1s;
		
	}

	#textures{

		max-width: 67.5%;
		transition: all 1s;
		
	}

}

@media screen and (max-width: 780px){

	.logo{

		padding-left: 10px;
		max-width: 50%;
		max-height: 50%;
		transition: all 1s;
		
	}

	h1, p{

		max-width: 50%;
		font-size: 50%;
		margin-right: 475px;
		transition: all 1s;
	}

	#colors{

		max-width: 50%;
		max-height: 50%;
		transition: all 1s;
		
	}

	#textures{

		max-width: 50%;
		max-height: 50%;
		transition: all 1s;
		
	}

}

@media screen and (max-width: 544px){

	.logo{

		padding-left: 10px;
		max-width: 30%;
		max-height: 30%;
		transition: all 1s;
		
	}

	h1, p{

		max-width: 35%;
		font-size: 35%;
		margin-right: 650px;
		transition: all 1s;
		
	}

	#colors{

		max-width: 35%;
		max-height: 35%;
		transition: all 1s;
		
	}

	#textures{

		max-width: 25%;
		max-height: 25%;
		transition: all 1s;
		
	}

}


.color-1{

background-color: #173045;
transition: all 1.5s;

}

.color-1:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.pattern-1{

background: url("http://fc04.deviantart.net/fs70/i/2012/269/b/a/wood_planks___d632_by_agf81-d5fz4zl.jpg");
background-size: 200px;
transition: all 1.5s;

}

.pattern-1:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.color-2{

background-color: #FF6300;
transition: all 1.5s; 

}

.color-2:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.pattern-2{

background: url("http://www.wallsandfloors.co.uk/admin/uploads/ZoomImageslate_effect12911380383851291138038.jpg");
background-size: 200px;
transition: all 1.5s;

}

.pattern-2:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.color-3{

background-color: #6E7F94;
transition: all 1.5s;

}

.color-3:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

.pattern-3{

background: url("http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-7.jpg");
background-size: 125px;
transition: all 1.5s;

}

.pattern-3:hover {

	width:	125px;
	height:	125px;
	transition: all .4s;

}

#colors{

	margin: 0px 15px 0px 15px;
	padding-left: 85px;
	padding-top: 15px; 

}

#textures{

	margin: 0px 15px 0px 15px;
	padding-left: 110px;
	padding-top: 15px;
	padding-bottom: 25px;

}













